<form id="interests" class="container">
    <div class="row justify-content-center">
            <input id="Education" class="interestbuttons" type = "button" value = "Education" onclick = "GetSelected('Education')" />
            <input id="Economics" class="interestbuttons" type = "button" value = "Economics" onclick = "GetSelected('Economics')" />
            <input id="Architecture" class="interestbuttons" type = "button" value = "Architecture" onclick = "GetSelected('Architecture')" />
            <input id="Aerospace" class="interestbuttons" type = "button" value = "Aerospace" onclick = "GetSelected('Aerospace')" />
            <input id="Cars" class="interestbuttons" type = "button" value = "Cars" onclick = "GetSelected('Cars')" />
            <input id="Automotive" class="interestbuttons" type = "button" value = "Automotive" onclick = "GetSelected('Automotive')" />
            <input id="Art" class="interestbuttons" type = "button" value = "Art" onclick = "GetSelected('Art')" />
            <input id="Biology" class="interestbuttons" type = "button" value = "Biology" onclick = "GetSelected('Biology')" />
            <input id="Molecular Biology" class="interestbuttons" type = "button" value = "Molecular Biology" onclick = "GetSelected('Molecular Biology')" />
            <input id="Neuroscience" class="interestbuttons" type = "button" value = "Neuroscience" onclick = "GetSelected('Neuroscience')" />
            <input id="Medicine" class="interestbuttons" type = "button" value = "Medicine" onclick = "GetSelected('Medicine')" />
            <input id="Physics" class="interestbuttons" type = "button" value = "Physics" onclick = "GetSelected('Physics')" />
            <input id="Chemistry" class="interestbuttons" type = "button" value = "Chemistry" onclick = "GetSelected('Chemistry')" />
            <input id="Biophysics" class="interestbuttons" type = "button" value = "Biophysics" onclick = "GetSelected('Biophysics')" />
            <input id="Biochemistry" class="interestbuttons" type = "button" value = "Biochemistry" onclick = "GetSelected('Biochemistry')" />
            <input id="Engineering" class="interestbuttons" type = "button" value = "Engineering" onclick = "GetSelected('Engineering')" />
            <input id="Natural Sciences" class="interestbuttons" type = "button" value = "Natural Sciences" onclick = "GetSelected('Natural Sciences')" />
            <input id="News" class="interestbuttons" type = "button" value = "News" onclick = "GetSelected('News')" />
            <input id="History" class="interestbuttons" type = "button" value = "History" onclick = "GetSelected('History')" />
            <input id="Philosophy" class="interestbuttons" type = "button" value = "Philosophy" onclick = "GetSelected('Philosophy')" />
            <input id="Math" class="interestbuttons" type = "button" value = "Math" onclick = "GetSelected('Math')" />
            <input id="Finance" class="interestbuttons" type = "button" value = "Finance" onclick = "GetSelected('Finance')" />
            <input id="Geography" class="interestbuttons" type = "button" value = "Geography" onclick = "GetSelected('Geography')" />
            <input id="Astronomy" class="interestbuttons" type = "button" value = "Astronomy" onclick = "GetSelected('Astronomy')" />
            <input id="Sports" class="interestbuttons" type = "button" value = "Sports" onclick = "GetSelected('Sports')" />
            <input id="Health" class="interestbuttons" type = "button" value = "Health" onclick = "GetSelected('Health')" />
            <input id="Health News" class="interestbuttons" type = "button" value = "Health News" onclick = "GetSelected('Health News')" />
            <input id="Robotics" class="interestbuttons" type = "button" value = "Robotics" onclick = "GetSelected('Robotics')" />
            <input id="test19" class="interestbuttons" type = "button" value = "test19" onclick = "GetSelected('test19')" />


            <p id="message-1"></p>
    </div>
       
</form>