<form id="interests" class="container">
    <div class="row justify-content-center">
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#Academics">Academics</a>
                <a class="dropdown-item" href="#Hobbies">Hobbies &#38 Interests</a>
                <a class="dropdown-item" href="#Literature">Literature</a>
                <a class="dropdown-item" href="#Media">Movies/TV shows</a>
                <a class="dropdown-item" href="#Music">Music</a>
                <a class="dropdown-item" href="#Sports">Sports/Activities</a>
                <a class="dropdown-item" href="#STEM">STEM</a>
                <a class="dropdown-item" href="#Gaming">Video Games</a>
            </div>
            </div>
    </div>
    <div class="row justify-content-center">
            <div class="col-md-12" id="Academics" class="text-center">
                <hr/>
                <p class="text-center">Academics</p>  
                <hr/>    
            </div>
                <div class="text-center">      
                    <input id="Anthropology" class="interestbuttons" type = "button" value = "Anthropology" onclick = "GetSelected('Anthropology')" />
                    <input id="Archaeology" class="interestbuttons" type = "button" value = "Archaeology" onclick = "GetSelected('Archaeology')" />
                    <input id="Economics" class="interestbuttons" type = "button" value = "Economics" onclick = "GetSelected('Economics')" />
                    <input id="Geography" class="interestbuttons" type = "button" value = "Geography" onclick = "GetSelected('Geography')" />
                    <input id="Political Science" class="interestbuttons" type = "button" value = "Political Science" onclick = "GetSelected('Political Science')" />
                    <input id="Psychology" class="interestbuttons" type = "button" value = "Psychology" onclick = "GetSelected('Psychology')" />
                    <input id="Sociology" class="interestbuttons" type = "button" value = "Sociology" onclick = "GetSelected('Sociology')" />
                    <input id="Biology" class="interestbuttons" type = "button" value = "Biology" onclick = "GetSelected('Biology')" />
                    <input id="Chemistry" class="interestbuttons" type = "button" value = "Chemistry" onclick = "GetSelected('Chemistry')" />
                    <input id="Earth Sciences" class="interestbuttons" type = "button" value = "Earth Sciences" onclick = "GetSelected('Earth Sciences')" />
                    <input id="Logic" class="interestbuttons" type = "button" value = "Logic" onclick = "GetSelected('Logic')" />
                    <input id="Business" class="interestbuttons" type = "button" value = "Business" onclick = "GetSelected('Business')" />
                    <input id="Divinity" class="interestbuttons" type = "button" value = "Divinity" onclick = "GetSelected('Divinity')" />
                    <input id="Education" class="interestbuttons" type = "button" value = "Education" onclick = "GetSelected('Education')" />
                    <input id="Environmental Studies" class="interestbuttons" type = "button" value = "Environmental Studies" onclick = "GetSelected('Environmental Studies')" />
                    <input id="Forestry" class="interestbuttons" type = "button" value = "Forestry" onclick = "GetSelected('Forestry')" />
                    <input id="Family and Consumer Science" class="interestbuttons" type = "button" value = "Family and Consumer Science" onclick = "GetSelected('Family and Consumer Science')" />
                    <input id="Journalism" class="interestbuttons" type = "button" value = "Journalism" onclick = "GetSelected('Journalism')" />
                    <input id="Media Studies and Communication" class="interestbuttons" type = "button" value = "Media Studies and Communication" onclick = "GetSelected('Media Studies and Communication')" />
                    <input id="Law" class="interestbuttons" type = "button" value = "Law" onclick = "GetSelected('Law')" />
                    <input id="Medicine" class="interestbuttons" type = "button" value = "Medicine" onclick = "GetSelected('Medicine')" />
                    <input id="Military Sciences" class="interestbuttons" type = "button" value = "Military Sciences" onclick = "GetSelected('Military Sciences')" />
                    <input id="Public Administration" class="interestbuttons" type = "button" value = "Public Administration" onclick = "GetSelected('Public Administration')" />
                    <input id="Social Work" class="interestbuttons" type = "button" value = "Social Work" onclick = "GetSelected('Social Work')" />
                    <input id="Transportation" class="interestbuttons" type = "button" value = "Transportation" onclick = "GetSelected('Transportation')" />
                </div>
            <div class="col-md-12" id="Hobbies" class="text-center">
                <hr/>
                <p class="text-center">Hobbies &#38 Interests</p>    
                <hr/>  
            </div>
                <div class="text-center">                     
                    <input id="Blogging" class="interestbuttons" type = "button" value = "Blogging" onclick = "GetSelected('Blogging')" />
                    <input id="Travelling" class="interestbuttons" type = "button" value = "Travelling" onclick = "GetSelected('Travelling')" />
                    <input id="Art & Design" class="interestbuttons" type = "button" value = "Art & Design" onclick = "GetSelected('Art & Design')" />
                    <input id="Photography" class="interestbuttons" type = "button" value = "Photography" onclick = "GetSelected('Photography')" />
                    <input id="Clothing" class="interestbuttons" type = "button" value = "Clothing" onclick = "GetSelected('Clothing')" />
                    <input id="Writing" class="interestbuttons" type = "button" value = "Writing" onclick = "GetSelected('Writing')" />
                    <input id="Anime" class="interestbuttons" type = "button" value = "Anime" onclick = "GetSelected('Anime')" />
                    <input id="Knitting" class="interestbuttons" type = "button" value = "Knitting" onclick = "GetSelected('Knitting')" />
                    <input id="Gardening" class="interestbuttons" type = "button" value = "Gardening" onclick = "GetSelected('Gardening')" />
                    <input id="Cooking" class="interestbuttons" type = "button" value = "Cooking" onclick = "GetSelected('Cooking')" />
                    <input id="Drawing" class="interestbuttons" type = "button" value = "Drawing" onclick = "GetSelected('Drawing')" />
                    <input id="Sewing" class="interestbuttons" type = "button" value = "Sewing" onclick = "GetSelected('Sewing')" />
                    <input id="Dance" class="interestbuttons" type = "button" value = "Dance" onclick = "GetSelected('Dance')" />
                    <input id="Scrapbooking" class="interestbuttons" type = "button" value = "Scrapbooking" onclick = "GetSelected('Scrapbooking')" />
                    <input id="Birdwatching" class="interestbuttons" type = "button" value = "Birdwatching" onclick = "GetSelected('Birdwatching')" />
                    <input id="Woodworking" class="interestbuttons" type = "button" value = "Woodworking" onclick = "GetSelected('Woodworking')" />
                    <input id="Origami" class="interestbuttons" type = "button" value = "Origami" onclick = "GetSelected('Origami')" />
                    <input id="Crochet" class="interestbuttons" type = "button" value = "Crochet" onclick = "GetSelected('Crochet')" />
                    <input id="Hunting" class="interestbuttons" type = "button" value = "Hunting" onclick = "GetSelected('Hunting')" />
                    <input id="Camping" class="interestbuttons" type = "button" value = "Camping" onclick = "GetSelected('Camping')" />
                    <input id="Baking" class="interestbuttons" type = "button" value = "Baking" onclick = "GetSelected('Baking')" />
                    <input id="Embroidery" class="interestbuttons" type = "button" value = "Embroidery" onclick = "GetSelected('Embroidery')" />
                    <input id="Stamp Collecting" class="interestbuttons" type = "button" value = "Stamp Collecting" onclick = "GetSelected('Stamp Collecting')" />
                    <input id="Archery" class="interestbuttons" type = "button" value = "Archery" onclick = "GetSelected('Archery')" />
                    <input id="Pottery" class="interestbuttons" type = "button" value = "Pottery" onclick = "GetSelected('Pottery')" />
                    <input id="Geocaching" class="interestbuttons" type = "button" value = "Geocaching" onclick = "GetSelected('Geocaching')" />
                    <input id="Environmental Conversation" class="interestbuttons" type = "button" value = "Environmental Conversation" onclick = "GetSelected('Environmental Conversation')" />
                    <input id="Stargazing" class="interestbuttons" type = "button" value = "Stargazing" onclick = "GetSelected('Stargazing')" />
                    <input id="Soap Art" class="interestbuttons" type = "button" value = "Soap Art" onclick = "GetSelected('Soap Art')" />
                    <input id="Zorbing" class="interestbuttons" type = "button" value = "Zorbing" onclick = "GetSelected('Zorbing')" />
                    <input id="Museums" class="interestbuttons" type = "button" value = "Museums" onclick = "GetSelected('Museums')" />
                    <input id="Parkour" class="interestbuttons" type = "button" value = "Parkour" onclick = "GetSelected('Parkour')" />
                    <input id="Nonprofits" class="interestbuttons" type = "button" value = "Nonprofits" onclick = "GetSelected('Nonprofits')" />
                    <input id="Celebrities" class="interestbuttons" type = "button" value = "Celebrities" onclick = "GetSelected('Celebrities')" />
                    <input id="Automobiles" class="interestbuttons" type = "button" value = "Automobiles" onclick = "GetSelected('Automobiles')" />
                    <input id="Culture" class="interestbuttons" type = "button" value = "Culture" onclick = "GetSelected('Culture')" />
                    <input id="Parenting" class="interestbuttons" type = "button" value = "Parenting" onclick = "GetSelected('Parenting')" />
                    <input id="News" class="interestbuttons" type = "button" value = "News" onclick = "GetSelected('News')" />
                    <input id="Quilting" class="interestbuttons" type = "button" value = "Quilting" onclick = "GetSelected('Quilting')" />
                    <input id="Coin Collecting" class="interestbuttons" type = "button" value = "Coin Collecting" onclick = "GetSelected('Coin Collecting')" />
                    <input id="Bonsai" class="interestbuttons" type = "button" value = "Bonsai" onclick = "GetSelected('Bonsai')" />
                    <input id="Handicraft" class="interestbuttons" type = "button" value = "Handicraft" onclick = "GetSelected('Handicraft')" />
                    <input id="Amateur Radio" class="interestbuttons" type = "button" value = "Amateur Radio" onclick = "GetSelected('Amateur Radio')" />
                </div>
            <div class="col-md-12" id="Literature" class="text-center">
                <hr/>
                <p class="text-center">Literature</p>    
                <hr/>  
            </div>
            <div class="text-center">                     
                <input id="Literature: Fiction" class="interestbuttons" type = "button" value = "Literature: Fiction" onclick = "GetSelected('Literature: Fiction')" />
                <input id="Literature: Narrative" class="interestbuttons" type = "button" value = "Literature: Narrative" onclick = "GetSelected('Literature: Narrative')" />
                <input id="Poetry" class="interestbuttons" type = "button" value = "Poetry" onclick = "GetSelected('Poetry')" />
                <input id="Novel" class="interestbuttons" type = "button" value = "Novel" onclick = "GetSelected('Novel')" />
                <input id="Prose" class="interestbuttons" type = "button" value = "Prose" onclick = "GetSelected('Prose')" />
                <input id="Literature: Non-fiction" class="interestbuttons" type = "button" value = "Literature: Non-fiction" onclick = "GetSelected('Literature: Non-fiction')" />
                <input id="Short Story" class="interestbuttons" type = "button" value = "Short Story" onclick = "GetSelected('Short Story')" />
                <input id="Essay" class="interestbuttons" type = "button" value = "Essay" onclick = "GetSelected('Essay')" />
                <input id="Literature: Drama" class="interestbuttons" type = "button" value = "Literature: Drama" onclick = "GetSelected('Literature: Drama')" />
                <input id="Biography" class="interestbuttons" type = "button" value = "Biography" onclick = "GetSelected('Biography')" />
                <input id="Article" class="interestbuttons" type = "button" value = "Article" onclick = "GetSelected('Article')" />
                <input id="Literature: Mystery" class="interestbuttons" type = "button" value = "Literature: Mystery" onclick = "GetSelected('Literature: Mystery')" />
                <input id="Literature: Tragedy" class="interestbuttons" type = "button" value = "Literature: Tragedy" onclick = "GetSelected('Literature: Tragedy')" />
                <input id="Literature: Science Fiction" class="interestbuttons" type = "button" value = "Literature: Science Fiction" onclick = "GetSelected('Literature: Science Fiction')" />
                <input id="Autobiography" class="interestbuttons" type = "button" value = "Autobiography" onclick = "GetSelected('Autobiography')" />
                <input id="Speech" class="interestbuttons" type = "button" value = "Speech" onclick = "GetSelected('Speech')" />
                <input id="Historical Fiction" class="interestbuttons" type = "button" value = "Historical Fiction" onclick = "GetSelected('Historical Fiction')" />
                <input id="Fairy Tale" class="interestbuttons" type = "button" value = "Fairy Tale" onclick = "GetSelected('Fairy Tale')" />
                <input id="Myth" class="interestbuttons" type = "button" value = "Myth" onclick = "GetSelected('Myth')" />
                <input id="Fable" class="interestbuttons" type = "button" value = "Fable" onclick = "GetSelected('Fable')" />
                <input id="Literature: Horror Fiction" class="interestbuttons" type = "button" value = "Literature: Horror Fiction" onclick = "GetSelected('Literature: Horror Fiction')" />
                <input id="Literature: Play" class="interestbuttons" type = "button" value = "Literature: Play" onclick = "GetSelected('Literature: Play')" />
                <input id="Literary Criticism" class="interestbuttons" type = "button" value = "Literary Criticism" onclick = "GetSelected('Literary Criticism')" />
                <input id="Literature: Review" class="interestbuttons" type = "button" value = "Literature: Review" onclick = "GetSelected('Literature: Review')" />
                <input id="Satire" class="interestbuttons" type = "button" value = "Satire" onclick = "GetSelected('Satire')" />
                <input id="Literature: Narration" class="interestbuttons" type = "button" value = "Literature: Narration" onclick = "GetSelected('Literature: Narration')" />
                <input id="Literature: History" class="interestbuttons" type = "button" value = "Literature: History" onclick = "GetSelected('Literature: History')" />
                <input id="Philosophy" class="interestbuttons" type = "button" value = "Philosophy" onclick = "GetSelected('Philosophy')" />
                <input id="Memoir" class="interestbuttons" type = "button" value = "Memoir" onclick = "GetSelected('Memoir')" />
                <input id="Literature: Humour" class="interestbuttons" type = "button" value = "Literature: Humour" onclick = "GetSelected('Literature: Humour')" />
                <input id="Prose Poetry" class="interestbuttons" type = "button" value = "Prose Poetry" onclick = "GetSelected('Prose Poetry')" />
                <input id="Literature: Folklore" class="interestbuttons" type = "button" value = "Literature: Folklore" onclick = "GetSelected('Literature: Folklore')" />
                <input id="Detective Novel" class="interestbuttons" type = "button" value = "Detective Novel" onclick = "GetSelected('Detective Novel')" />
                <input id="Romance Novel" class="interestbuttons" type = "button" value = "Romance Novel" onclick = "GetSelected('Romance Novel')" />
                <input id="Graphic Novel" class="interestbuttons" type = "button" value = "Graphic Novel" onclick = "GetSelected('Graphic Novel')" />
                <input id="Elegy" class="interestbuttons" type = "button" value = "Elegy" onclick = "GetSelected('Elegy')" />
                <input id="Creative Nonfiction" class="interestbuttons" type = "button" value = "Creative Nonfiction" onclick = "GetSelected('Creative Nonfiction')" />
            </div>
            <div class="col-md-12" id="Media" class="text-center">
                <hr/>
                <p class="text-center">Movies/TV shows (Genres)</p>    
                <hr/>  
                </div>
                <div class="text-center">                     
                    <input id="Media: Comedy" class="interestbuttons" type = "button" value = "Media: Comedy" onclick = "GetSelected('Media: Comedy')" />
                    <input id="Media: Sci-Fi" class="interestbuttons" type = "button" value = "Media: Sci-Fi" onclick = "GetSelected('Media: Sci-Fi')" />
                    <input id="Media: Horror" class="interestbuttons" type = "button" value = "Media: Horror" onclick = "GetSelected('Media: Horror')" />
                    <input id="Media: Romance" class="interestbuttons" type = "button" value = "Media: Romance" onclick = "GetSelected('Media: Romance')" />
                    <input id="Media: Action" class="interestbuttons" type = "button" value = "Media: Action" onclick = "GetSelected('Media: Action')" />
                    <input id="Media: Thriller" class="interestbuttons" type = "button" value = "Media: Thriller" onclick = "GetSelected('Media: Thriller')" />
                    <input id="Media: Drama" class="interestbuttons" type = "button" value = "Media: Drama" onclick = "GetSelected('Media: Drama')" />
                    <input id="Media: Mystery" class="interestbuttons" type = "button" value = "Media: Mystery" onclick = "GetSelected('Media: Mystery')" />
                    <input id="Media: Crime" class="interestbuttons" type = "button" value = "Media: Crime" onclick = "GetSelected('Media: Crime')" />
                    <input id="Media: Animation" class="interestbuttons" type = "button" value = "Media: Animation" onclick = "GetSelected('Media: Animation')" />
                    <input id="Media: Adventure" class="interestbuttons" type = "button" value = "Media: Adventure" onclick = "GetSelected('Media: Adventure')" />
                    <input id="Media: Fantasy" class="interestbuttons" type = "button" value = "Media: Fantasy" onclick = "GetSelected('Media: Fantasy')" />
                    <input id="Media: Romcom" class="interestbuttons" type = "button" value = "Media: Romcom" onclick = "GetSelected('Media: Romcom')" />
                    <input id="Media: Superhero" class="interestbuttons" type = "button" value = "Media: Superhero" onclick = "GetSelected('Media: Superhero')" />
                </div>
            <div class="col-md-12" id="Music" class="text-center">
                <hr/>
                <p class="text-center">Music</p>  
                <hr/>    
            </div>
                <div class="text-center">      
                    <input id="Music: Rock" class="interestbuttons" type = "button" value = "Music: Rock" onclick = "GetSelected('Music: Rock')" />
                    <input id="Music: Pop" class="interestbuttons" type = "button" value = "Music: Pop" onclick = "GetSelected('Music: Pop')" />
                    <input id="Music: Hip-hop" class="interestbuttons" type = "button" value = "Music: Hip-hop" onclick = "GetSelected('Music: Hip-hop')" />
                    <input id="Music: Jazz" class="interestbuttons" type = "button" value = "Music: Jazz" onclick = "GetSelected('Music: Jazz')" />
                    <input id="Music: Musical Theatre" class="interestbuttons" type = "button" value = "Music: Musical Theatre" onclick = "GetSelected('Music: Musical Theatre')" />
                    <input id="Music: Rap" class="interestbuttons" type = "button" value = "Music: Rap" onclick = "GetSelected('Music: Rap')" />
                    <input id="Music: Folk" class="interestbuttons" type = "button" value = "Music: Folk" onclick = "GetSelected('Music: Folk')" />
                    <input id="Music: Classical" class="interestbuttons" type = "button" value = "Music: Classical" onclick = "GetSelected('Music: Classical')" />
                    <input id="Music: Blues" class="interestbuttons" type = "button" value = "Music: Blues" onclick = "GetSelected('Music: Blues')" />
                    <input id="Music: Heavy Metal" class="interestbuttons" type = "button" value = "Music: Heavy Metal" onclick = "GetSelected('Music: Heavy Metal')" />
                    <input id="Music: EDM" class="interestbuttons" type = "button" value = "Music: EDM" onclick = "GetSelected('Music: EDM')" />
                    <input id="Music: Country" class="interestbuttons" type = "button" value = "Music: Country" onclick = "GetSelected('Music: Country')" />
                    <input id="Music: Rhythm and blues" class="interestbuttons" type = "button" value = "Music: Rhythm and blues" onclick = "GetSelected('Music: Rhythm and blues')" />
                    <input id="Music: Soul" class="interestbuttons" type = "button" value = "Music: Soul" onclick = "GetSelected('Music: Soul')" />
                    <input id="Music: Punk Rock" class="interestbuttons" type = "button" value = "Music: Punk Rock" onclick = "GetSelected('Music: Punk Rock')" />
                    <input id="Music: Disco" class="interestbuttons" type = "button" value = "Music: Disco" onclick = "GetSelected('Music: Disco')" />
                    <input id="Music: Reggae" class="interestbuttons" type = "button" value = "Music: Reggae" onclick = "GetSelected('Music: Reggae')" />
                    <input id="Music: Funk" class="interestbuttons" type = "button" value = "Music: Funk" onclick = "GetSelected('Music: Funk')" />
                    <input id="Music: Instrumental" class="interestbuttons" type = "button" value = "Music: Instrumental" onclick = "GetSelected('Music: Instrumental')" />
                    <input id="Music: Gospel" class="interestbuttons" type = "button" value = "Music: Gospel" onclick = "GetSelected('Music: Gospel')" />
                    <input id="Music: Techno" class="interestbuttons" type = "button" value = "Music: Techno" onclick = "GetSelected('Music: Techno')" />
                    <input id="Music: Orchestra" class="interestbuttons" type = "button" value = "Music: Orchestra" onclick = "GetSelected('Music: Orchestra')" />
                    <input id="Music: Ambient" class="interestbuttons" type = "button" value = "Music: Ambient" onclick = "GetSelected('Music: Ambient')" />
                    <input id="Music: Alternative Rock" class="interestbuttons" type = "button" value = "Music: Alternative Rock" onclick = "GetSelected('Music: Alternative Rock')" />
                    <input id="Music: Pop Rock" class="interestbuttons" type = "button" value = "Music: Pop Rock" onclick = "GetSelected('Music: Pop Rock')" />
                    <input id="Music: Swing" class="interestbuttons" type = "button" value = "Music: Swing" onclick = "GetSelected('Music: Swing')" />
                    <input id="Music: Trance" class="interestbuttons" type = "button" value = "Music: Trance" onclick = "GetSelected('Music: Trance')" />
                    <input id="Music: Indie Rock" class="interestbuttons" type = "button" value = "Music: Indie Rock" onclick = "GetSelected('Music: Indie Rock')" />
                    <input id="Music: Vocal" class="interestbuttons" type = "button" value = "Music: Vocal" onclick = "GetSelected('Music: Vocal')" />
                    <input id="Music: Dubstep" class="interestbuttons" type = "button" value = "Music: Dubstep" onclick = "GetSelected('Music: Dubstep')" />
                    <input id="Music: Grunge" class="interestbuttons" type = "button" value = "Music: Grunge" onclick = "GetSelected('Music: Grunge')" />
                    <input id="Music: Independent" class="interestbuttons" type = "button" value = "Music: Independent" onclick = "GetSelected('Music: Independent')" />
                    <input id="Music: Jazz Fusion" class="interestbuttons" type = "button" value = "Music: Jazz Fusion" onclick = "GetSelected('Music: Jazz Fusion')" />
                    <input id="Music: Folk Rock" class="interestbuttons" type = "button" value = "Music: Folk Rock" onclick = "GetSelected('Music: Folk Rock')" />
                    <input id="Music: Crossover" class="interestbuttons" type = "button" value = "Music: Crossover" onclick = "GetSelected('Music: Crossover')" />
                    <input id="Music: Experimental" class="interestbuttons" type = "button" value = "Music: Experimental" onclick = "GetSelected('Music: Experimental')" />
                </div>
            <div class="col-md-12" id="Sports" class="text-center">
                <hr/>
                <p class="text-center">Sports/Activities</p>  
                <hr/>    
            </div>
                <div class="text-center">      
                    <input id="Individual sports" class="interestbuttons" type = "button" value = "Individual sports" onclick = "GetSelected('Individual sports')" />
                    <input id="Dual Sports" class="interestbuttons" type = "button" value = "Dual Sports" onclick = "GetSelected('Dual Sports')" />
                    <input id="Team Sports" class="interestbuttons" type = "button" value = "Team Sports" onclick = "GetSelected('Team Sports')" />
                    <input id="Indoor Sports/Activities" class="interestbuttons" type = "button" value = "Indoor Sports/Activities" onclick = "GetSelected('Indoor Sports/Activities')" />
                    <input id="Outdoor Sports/Activities" class="interestbuttons" type = "button" value = "Outdoor Sports/Activities" onclick = "GetSelected('Outdoor Sports/Activities')" />
                </div>
            <div class="col-md-12" id="STEM" class="text-center">
                <hr/>
                <p class="text-center">STEM</p>  
                <hr/>    
            </div>
                <div class="text-center">      
                    <input id="Aeronautical/Aerospace" class="interestbuttons" type = "button" value = "Aeronautical/Aerospace" onclick = "GetSelected('Aeronautical/Aerospace')" />
                    <input id="Agricultural Engineering" class="interestbuttons" type = "button" value = "Agricultural Engineering" onclick = "GetSelected('Agricultural Engineering')" />
                    <input id="Animal Sciences" class="interestbuttons" type = "button" value = "Animal Sciences" onclick = "GetSelected('Animal Sciences')" />
                    <input id="Architectural Engineering" class="interestbuttons" type = "button" value = "Architectural Engineering" onclick = "GetSelected('Architectural Engineering')" />
                    <input id="Astronomy" class="interestbuttons" type = "button" value = "Astronomy" onclick = "GetSelected('Astronomy')" />
                    <input id="Behavioral Sciences" class="interestbuttons" type = "button" value = "Behavioral Sciences" onclick = "GetSelected('Behavioral Sciences')" />
                    <input id="Biochemistry" class="interestbuttons" type = "button" value = "Biochemistry" onclick = "GetSelected('Biochemistry')" />
                    <input id="Biomedical Technology" class="interestbuttons" type = "button" value = "Biomedical Technology" onclick = "GetSelected('Biomedical Technology')" />
                    <input id="Botany" class="interestbuttons" type = "button" value = "Botany" onclick = "GetSelected('Botany')" />
                    <input id="Chemical Engineering" class="interestbuttons" type = "button" value = "Chemical Engineering" onclick = "GetSelected('Chemical Engineering')" />
                    <input id="Chemistry" class="interestbuttons" type = "button" value = "Chemistry" onclick = "GetSelected('Chemistry')" />
                    <input id="Civil Engineering" class="interestbuttons" type = "button" value = "Civil Engineering" onclick = "GetSelected('Civil Engineering')" />
                    <input id="Environmental Studies" class="interestbuttons" type = "button" value = "Environmental Studies" onclick = "GetSelected('Environmental Studies')" />
                    <input id="Food Science" class="interestbuttons" type = "button" value = "Food Science" onclick = "GetSelected('Food Science')" />
                    <input id="Forensic Science and Technology" class="interestbuttons" type = "button" value = "Forensic Science and Technology" onclick = "GetSelected('Forensic Science and Technology')" />
                    <input id="Genetics" class="interestbuttons" type = "button" value = "Genetics" onclick = "GetSelected('Genetics')" />
                    <input id="Geology" class="interestbuttons" type = "button" value = "Geology" onclick = "GetSelected('Geology')" />
                    <input id="Horticultural Science" class="interestbuttons" type = "button" value = "Horticultural Science" onclick = "GetSelected('Horticultural Science')" />
                    <input id="Human Biology" class="interestbuttons" type = "button" value = "Human Biology" onclick = "GetSelected('Human Biology')" />
                    <input id="Mathematics" class="interestbuttons" type = "button" value = "Mathematics" onclick = "GetSelected('Mathematics')" />
                    <input id="Mechanical Engineering" class="interestbuttons" type = "button" value = "Mechanical Engineering" onclick = "GetSelected('Mechanical Engineering')" />
                    <input id="Meteorology" class="interestbuttons" type = "button" value = "Meteorology" onclick = "GetSelected('Meteorology')" />
                    <input id="Military Applied Sciences" class="interestbuttons" type = "button" value = "Military Applied Sciences" onclick = "GetSelected('Military Applied Sciences')" />
                    <input id="Mining Technology" class="interestbuttons" type = "button" value = "Mining Technology" onclick = "GetSelected('Mining Technology')" />
                    <input id="Molecular Biology" class="interestbuttons" type = "button" value = "Molecular Biology" onclick = "GetSelected('Molecular Biology')" />
                    <input id="Nuclear Physics" class="interestbuttons" type = "button" value = "Nuclear Physics" onclick = "GetSelected('Nuclear Physics')" />
                    <input id="Nutritional Sciences" class="interestbuttons" type = "button" value = "Nutritional Sciences" onclick = "GetSelected('Nutritional Sciences')" />
                    <input id="Ocean Engineering" class="interestbuttons" type = "button" value = "Ocean Engineering" onclick = "GetSelected('Ocean Engineering')" />
                    <input id="Petroleum Technology" class="interestbuttons" type = "button" value = "Petroleum Technology" onclick = "GetSelected('Petroleum Technology')" />
                    <input id="Pharmacology" class="interestbuttons" type = "button" value = "Pharmacology" onclick = "GetSelected('Pharmacology')" />
                    <input id="Physics" class="interestbuttons" type = "button" value = "Physics" onclick = "GetSelected('Physics')" />
                    <input id="Plant Sciences" class="interestbuttons" type = "button" value = "Plant Sciences" onclick = "GetSelected('Plant Sciences')" />
                    <input id="Statistics" class="interestbuttons" type = "button" value = "Statistics" onclick = "GetSelected('Statistics')" />
                    <input id="Zoology" class="interestbuttons" type = "button" value = "Zoology" onclick = "GetSelected('Zoology')" />
                    <input id="Astronomy" class="interestbuttons" type = "button" value = "Astronomy" onclick = "GetSelected('Astronomy')" />
                    <input id="Biochemistry" class="interestbuttons" type = "button" value = "Biochemistry" onclick = "GetSelected('Biochemistry')" />
                    <input id="Biology" class="interestbuttons" type = "button" value = "Biology" onclick = "GetSelected('Biology')" />
                    <input id="Electrical" class="interestbuttons" type = "button" value = "Electrical" onclick = "GetSelected('Electrical')" />
                    <input id="Mathematics" class="interestbuttons" type = "button" value = "Mathematics" onclick = "GetSelected('Mathematics')" />
                    <input id="Mechanical" class="interestbuttons" type = "button" value = "Mechanical" onclick = "GetSelected('Mechanical')" />
                    <input id="Physics" class="interestbuttons" type = "button" value = "Physics" onclick = "GetSelected('Physics')" />
                    <input id="Psychology" class="interestbuttons" type = "button" value = "Psychology" onclick = "GetSelected('Psychology')" />
                    <input id="Robotics" class="interestbuttons" type = "button" value = "Robotics" onclick = "GetSelected('Robotics')" />
                    <input id="Statistics" class="interestbuttons" type = "button" value = "Statistics" onclick = "GetSelected('Statistics')" />
                    <input id="Civil" class="interestbuttons" type = "button" value = "Civil" onclick = "GetSelected('Civil')" />
                    <input id="Computer science" class="interestbuttons" type = "button" value = "Computer science" onclick = "GetSelected('Computer science')" />
                    <input id="Medical Informatics" class="interestbuttons" type = "button" value = "Medical Informatics" onclick = "GetSelected('Medical Informatics')" />
                </div>
            <div class="col-md-12" id="Gaming" class="text-center">
                <hr/>
                <p class="text-center">Video Games</p>       
                <hr/>    
            </div>
                <div class="text-center"> 
                    <input id="Games: Action" class="interestbuttons" type = "button" value = "Games: Action" onclick = "GetSelected('Games: Action')" />
                    <input id="Games: Adeventure" class="interestbuttons" type = "button" value = "Games: Adeventure" onclick = "GetSelected('Games: Adeventure')" />
                    <input id="Games: Puzzle" class="interestbuttons" type = "button" value = "Games: Puzzle" onclick = "GetSelected('Games: Puzzle')" />
                    <input id="Games: Strategy" class="interestbuttons" type = "button" value = "Games: Strategy" onclick = "GetSelected('Games: Strategy')" />
                    <input id="Games: Simulation" class="interestbuttons" type = "button" value = "Games: Simulation" onclick = "GetSelected('Games: Simulation')" />
                    <input id="Games: Logic" class="interestbuttons" type = "button" value = "Games: Logic" onclick = "GetSelected('Games: Logic')" />
                    <input id="Games: Survival Horror" class="interestbuttons" type = "button" value = "Games: Survival Horror" onclick = "GetSelected('Games: Survival Horror')" />
                    <input id="Games: Anime" class="interestbuttons" type = "button" value = "Games: Anime" onclick = "GetSelected('Games: Anime')" />
                    <input id="Games: Maze" class="interestbuttons" type = "button" value = "Games: Maze" onclick = "GetSelected('Games: Maze')" />
                    <input id="Games: Science Fiction" class="interestbuttons" type = "button" value = "Games: Science Fiction" onclick = "GetSelected('Games: Science Fiction')" />
                    <input id="Games: Quest" class="interestbuttons" type = "button" value = "Games: Quest" onclick = "GetSelected('Games: Quest')" />
                    <input id="Games: Apocalyptic" class="interestbuttons" type = "button" value = "Games: Apocalyptic" onclick = "GetSelected('Games: Apocalyptic')" />
                </div>

            <input id="test19" class="interestbuttons" type = "button" value = "test19" onclick = "GetSelected('test19')" />

            <p id="message-1"></p>
    </div>
       
</form>