<form id="interests">
            <input id="test" type = "button" value = "test" onclick = "GetSelected('test')" />
            <input id="test1" type = "button" value = "test1" onclick = "GetSelected('test1')" />
            <input id="test2" type = "button" value = "test2" onclick = "GetSelected('test2')" />
            <input id="test3" type = "button" value = "test3" onclick = "GetSelected('test3')" />
            <input id="test4" type = "button" value = "test4" onclick = "GetSelected('test4')" />
            <input id="test5" type = "button" value = "test5" onclick = "GetSelected('test5')" />
            <input id="test6" type = "button" value = "test6" onclick = "GetSelected('test6')" />
            <input id="test7" type = "button" value = "test7" onclick = "GetSelected('test7')" />
            <input id="test8" type = "button" value = "test8" onclick = "GetSelected('test8')" />
            <input id="test9" type = "button" value = "test9" onclick = "GetSelected('test9')" />
            <input id="test10" type = "button" value = "test10" onclick = "GetSelected('test10')" />
            <input id="test11" type = "button" value = "test11" onclick = "GetSelected('test11')" />
            <input id="test12" type = "button" value = "test12" onclick = "GetSelected('test12')" />
            <input id="test13" type = "button" value = "test13" onclick = "GetSelected('test13')" />
            <input id="test14" type = "button" value = "test14" onclick = "GetSelected('test14')" />
            <input id="test15" type = "button" value = "test15" onclick = "GetSelected('test15')" />
            <input id="test16" type = "button" value = "test16" onclick = "GetSelected('test16')" />
            <input id="test17" type = "button" value = "test17" onclick = "GetSelected('test17')" />
            <input id="test18" type = "button" value = "test18" onclick = "GetSelected('test18')" />
            <input id="test19" type = "button" value = "test19" onclick = "GetSelected('test19')" />
            <input id="test20" type = "button" value = "test20" onclick = "GetSelected('test20')" />
            <p id="message-1"></p>
        </form>