<div class="header" class="container-fliud">
    <img id="logo" src="/img/logo_cropped.png" alt="Logo">
    <div class="header-right">  	
        <span><a href="/profile/people"><img alt="People" src="/img/people.png" height="30"></a></span>
        <span><a href="/profile"><img alt="Profile" src="/img/profile.png" height="25"></a></span>
        <span><a href="/people"><img alt="Find People" src="/img/find.png" height="25"></a></span>              
        <span><a href="/"><img alt="Chats" src="/img/chat.png" height="25"></a></span>
    </div>
</div>