<!DOCTYPE html>

<html>

<head>
    <title>People</title>
    {{>logo}}
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        #info{
            display: none;
            
        }
        .main-content{
            font-weight:normal;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 18px;
            color: black;
        }
        h2{
            font-weight: normal;
            font-size: 15px; 
            color: grey; 
        }
        #request{
            display: none;
        }
        #delRequest{
            margin-top: 20px;
            display: none;
        }
        #previous{
            display: none;
            float:left;
        }
        #next{
            display: none;
            float: right;
        }
        #back{
            display: none;
        }
        .profiles{
            display: none;
            width:100%;
        }
        .init{
            width: 100%;
            display: inline-block;
        }
        #deets{
            width:100%;
            text-align: center;
            padding-bottom: 25px;
             background:#EAEDED;
             border-radius: 20px;
        }
        .databuttons{
            font-size: 15px;
            background:white;
            border: 2.5px solid #2980B9;
            border-radius: 15px;
            font-size: 18px;
            width: 50%;
            margin: 15px auto;
        
        }
        #names{
            font-size: 27.5px;
        }
        .arrows{
            background: white;
            border: 0px;
        }
        .details{
            border-radius: 20px;
            background:#F2F3F4;
            padding: 25px 25px;
            width: 100%;
        }
        .metabuttons{
            cursor: pointer;
            font-size: 17.5px;
            border-radius: 10px;
            background:#f2f2f2;
            border: 2px solid #27497A;
            padding: 10px 25px;
        }
        @media only screen and (max-width: 500px) {
            .main-content{
                font-size: 13px;
            }
            h1{
                font-size: 30px;
            }
            h2{
                font-size: 10px; 
            }
            .colouredicon{
                height: 15px;
            }
            .metabuttons{
                font-size: 12.5px;
            }
            #names
            {
                font-size: 20px;
            }
            .databuttons{
                width: 80%;
            }
        } 
    </style>
</head>

<body>
    {{>GTagM}}
    {{>navbar}}
    <br>
    <div id="bodydiv">
    <div class="main-content" class="container">
        <div class="init" >
            {{>header}}
            <div id="deets" >
                <br>
                    <input onclick="recfunc()" type="button" value="Loading..." class="databuttons" id="rec"/> 
                <br>
                <br>
                    <input onclick="sentfunc()" type="button" value="Loading..." class="databuttons" id="sent" />
                <br>
                <br>
                    <input onclick="friendsfunc()" type="button" value="Loading..." class="databuttons" id="friends" />
            </div>
        </div>
        <div class="profiles">
            <h1>Profile</h1>
            <h2 id="names" ></h2>
            <br>
            <div class="details" class="row justify-md-center">
                <img class="colouredicon" src="/img/match.png" height="30" style="display: inline-block;">
                <p class="data" style="display: inline-block;" id="message-1"></p>
                <div id="info">
                    <br>
                    <img class="colouredicon" src="/img/interests.png" height="30" style="display: inline-block;">
                    <h2 style="display: inline-block;">Interests:</h2>
                    <br>
                    <p class="data" id="message-2"></p>
                    <br>
                    <img class="colouredicon" src="/img/age.png" height="30" style="display: inline-block;">
                    <p class="data" style="display: inline-block;" id="message-3"></p>
                    <br>
                    <br>
                    <img class="colouredicon" src="/img/about.png" height="30" style="display: inline-block;">
                    <h2 style="display: inline-block;">Bio:</h2>
                    <p class="data" id="message-4"></p>
                    <br>
                    <div class="text-center">
                        <input class="metabuttons" onclick="requestfunc()" type="button" value="Loading..." id="request" />
                        <br>
                        <input class="metabuttons" onclick="delRequestfunc()" type="button" value="Loading..." id="delRequest" />              
                    </div>
                </div>  
            </div>
            <br>
            <button id="next" class="arrows"><img src="/img/next.png" height="30"/></button>
            <button id="previous" class="arrows"><img src="/img/previous.png" height="30"/></button>
            <br>
            <br>
            <br>
            <div class="text-center">
                <input onclick="backfunc()" class="metabuttons" type="button" value="Back" id="back" />
            </div>
            <br>
        </div>
    </div>
    </div>

    <script src="/js/allrequests.js"></script>
</body>

</html>