<!DOCTYPE html>

<html>

<head>
    <title>Bio</title>
    {{>logo}}
    <link rel="stylesheet" href="/css/styles_noheader.css">

</head>

<body>
    <div class="main-content">
        <h1>Your Bio</h1>
        <div class="colourcard">
            <p>The only personal details displayed to other users is your interests and your bio</p>
            <p>A good Bio will increase the likelihood of someone accepting your chat request</p>
            <p>Only put data you want publicly visible here</p>
            <br>
            <textarea id="textareabox" class="form-control" name="textarea1" placeholder="Enter your bio here..." rows="10" ></textarea>
            <br>
            <input type="button" class="btn btn-light" value="Update" onclick="getText()" />
        </div>
    </div>

    <script src="/js/bio.js"></script>
</body>

</html>