<!DOCTYPE html>

<html>

<head>
    <title>Bio</title>
    {{>logo}}
    <link rel="stylesheet" href="/css/styles_noheader.css">
    <style>
        .updatebutton{
            cursor: pointer;
            font-size: 17.5px;
            border-radius: 10px;
            background:#f2f2f2;
            border: 2px solid #27497A;
            padding: 10px 25px;
        }
    </style>
</head>

<body>
    {{>GTagM}}
    <div class="main-content">
        <h1>Your Bio</h1>
        <div class="colourcard">
            <p>The only personal details displayed to other users is your interests and your bio</p>
            <p>A good Bio will increase the likelihood of someone accepting your chat request</p>
            <p>Only put data you want publicly visible here</p>
            <br>
            <textarea id="textareabox" class="form-control" name="textarea1" placeholder="Enter your bio here..." rows="10" ></textarea>
            <br>
            <div class="text-center">
                <input type="button" class="updatebutton" value="Update" onclick="getText()" />
            </div>
        </div>
    </div>

    <script src="/js/bio.js"></script>
</body>

</html>