<!DOCTYPE html>

<html>

<head>
    <title>Choose your interests</title>
    {{>logo}}
    <link rel="stylesheet" href="/css/styles_noheader.css">
    <link rel="stylesheet" href="/css/interests.css">
</head>

<body>
    <div class="main-content">
        <div class="text-center">
            {{>header}}
            <p style="font-weight: bold;">Choose 10 interests to proceed. This will help us find you the people you're looking for. If you wish to change these, you can do so in your profile.</p>
            <p id="message-1">0 of 10 selected</p>
            <input type="text" id="myInput" onkeyup="myFunction()" 
            placeholder="Search for interests.." title="Type in an interest">
            <br>
            <br>
            <a href="https://forms.gle/2EEwEgDdFdzdeDrk6" target="_blank" >Can't find your interests in this list? Click here.</a>
            <br>
            <br>
        </div>
        <div class="text-center">
            <h2>Tags</h2>
        </div>
        {{>inter}}
        <button onclick="topFunction()" id="myBtn" title="Go to top"><img src="/img/up.png" height="30"/></button>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="/js/details.js"></script>
    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        }
    </script>
</body>

</html>