<!DOCTYPE html>

<html>

<head>
    <title>Forgot Password</title>
    {{>logo}}
    <link rel="stylesheet" href="/css/styles_noheader.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Enter your registered email adress to proceed</p>
        <form>
            <input id="email" placeholder="email">
            <br>
            <br>
            <button id="submit">Submit</button>
        </form>
        <br>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
    <script src="/js/forgot.js"></script>
</body>

</html>