<!DOCTYPE html>

<html>

<head>
    <title>Reset Password</title>
    {{>logo}}
    <link rel="stylesheet" href="/css/styles_noheader.css">
</head>

<body>
    {{>GTagM}}
    <div class="main-content">
        <div class="text-center">
            <img id="logo" src="/img/logo_cropped.png" alt="Logo">
        </div>
        <div class="datacard" >
            <div class="text-center">
                {{>header}}
            </div>      
            <form class="text-center">
                <h2>Enter your new password</h2>
                <br>
                <input id="password" type="password" placeholder="Password">
                <br>
                <br>
                <input id="re-password" type="password" placeholder="Confirm Password">
                <br>
                <br>
                <button id="reset">Reset</button>
            </form>
            <br>
            <div class="text-center"></div>
                <p id="message-1"></p>
            </div>
        </div>  
    </div>
    <script src="/js/reset.js"></script>
</body>

</html>