<!DOCTYPE html>

<html>

<head>
    <title>Sign Up</title>
    {{>logo}}
    <link rel="stylesheet" href="/css/styles_noheader.css">
</head>

<body>
    {{>GTagM}}
    <div class="main-content">
        <div class="text-center">
            <img id="logo" src="/img/logo_cropped.png" alt="Logo">
        </div>
        <div class="datacard" >
            <div class="text-center">
                {{>header}}
            </div>      
            <form class="text-center">
                <input id="name" placeholder="Name">
                <br>
                <br>
                <input id="email" placeholder="E-mail">
                <br>
                <br>
                <input id="age" type="number" placeholder="Age">
                <br>
                <br>
                <input id="password" type="password" placeholder="Password">
                <br>
                <br>
                <input id="re-password" type="password" placeholder="Confirm Password">
                <br>
                <br>
                <button id="signup">Sign Up</button>
            </form>
            <div class="text-center">  
                <br>
                <p style="font-size:smaller;">By signing up, you agree to our <a target="_blank" href="/Terms_of_Use.html">Terms</a> , <a target="_blank" href="/privacy_policy.html">Privacy Policy</a> and <a target="_blank" href="/cookie_policy.html">Cookie Policy</a>.</p>
                <a href="/login">Already have an account? Log in.</a>
                <br>
                <p id="message-1"></p>
            </div>
        </div>
    </div>
    
    <script src="/js/signup.js"></script>
</body>

</html>