<!DOCTYPE html>

<html>

<head>
    <title>Error</title>
    {{>logo}}
    <link rel="stylesheet" href="/css/styles_noheader.css">
</head>

<body>
    <div class="main-content">
        <p>We could not verify your account</p>
        <p>The link seems to have expired</p>
        <br>
        <a href="/signup">Try again</a>

    </div>
</body>

</html>