<!DOCTYPE html>

<html>

<head>
    <title>My Profile</title>
    {{>logo}}
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p id="message-1"></p>
        <p id="message-2"></p>
        <p id="message-3"></p>
        <p id="message-4"></p>
        <br><button id="bio" >Update your bio</button>
        <br>
        <br>
        <button id="interests" >Your chosen interests</button>
        <br>
        <br>
        <button id="findpeople" >Find People</button>
        <br>
        <br>
        <button id="chats" >Chats</button>  
        <br>
        <br>
        <button id="logout" >Logout</button>    
        <!--<br>
        <br>
        <button id="logoutAll" >Log out from all devices</button>-->      
    </div>

    <script src="/js/view.js"></script>
</body>

</html>