<!DOCTYPE html>

<html>

<head>
    <title>Login</title>
    {{>logo}}
    <link rel="stylesheet" href="/css/styles_noheader.css">
    <style>
        #message-1{
            color: #888888;
            font-size: 100px;
            display: block;
            opacity: 0;
            filter: none;
        }
        #message-2{
            color: #888888;
            font-size: 25px;
            display: block;
            opacity: 0;
            filter: none;
        }
        #myButton{
            display: none;
        }
    </style>
</head>

<body>
    <div class="main-content">
        <p id="message-1">Welcome</p>
        <p id="message-2">We just have a few more questions before we are done setting your account up</p>
        <br><button id="myButton" >Continue</button>
    </div>
    <script src="/js/welcome.js"></script>
</body>

</html>