<!DOCTYPE html>

<html>

<head>
    <title>My Profile</title>
    {{>logo}}
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p id="message-1"></p>
        <p id="message-2"></p>
        <p id="message-3"></p>
        <p id="message-4"></p>
        <p id="message-5"></p>
        <p id="message-6"></p>
        <p id="message-7"></p>
        <p id="message-8"></p>
        <p id="message-9"></p>
        <p id="message-10"></p>
        <br>
        <br>
        <button id="interests" >Update your interests</button>        
    </div>

    <script src="/js/yourinterests.js"></script>
</body>

</html>